<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.tedu.pojo.User">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="gender" jdbcType="VARCHAR" property="gender" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="points" jdbcType="INTEGER" property="points" />
        <result column="purse" jdbcType="INTEGER" property="purse" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />
        <result column="default_receiver" jdbcType="VARCHAR" property="defaultReceiver" />
        <result column="member_id" jdbcType="TINYINT" property="memberId" />
    </resultMap>
    <insert id="insert" parameterType="cn.tedu.pojo.User">
        insert into tb_user (id, name, gender,
        birthday, nickname, img,
        phone, salt, username,
        password, points, purse,
        created, updated, default_receiver,
        member_id)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
        #{birthday,jdbcType=TIMESTAMP}, #{nickname,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{points,jdbcType=INTEGER}, #{purse,jdbcType=INTEGER},
        #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{defaultReceiver,jdbcType=VARCHAR},
        #{memberId,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="cn.tedu.pojo.User">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="points != null">
                points,
            </if>
            <if test="purse != null">
                purse,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updated != null">
                updated,
            </if>
            <if test="defaultReceiver != null">
                default_receiver,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="points != null">
                #{points,jdbcType=INTEGER},
            </if>
            <if test="purse != null">
                #{purse,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="defaultReceiver != null">
                #{defaultReceiver,jdbcType=VARCHAR},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!--<insert id="insert" parameterType="cn.tedu.pojo.User">-->
        <!--insert into tb_user (id, username, password-->
        <!--)-->
        <!--values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}-->
        <!--)-->
    <!--</insert>-->
    <!--<insert id="insertSelective" parameterType="cn.tedu.pojo.User">-->
        <!--insert into tb_user-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--id,-->
            <!--</if>-->
            <!--<if test="username != null">-->
                <!--username,-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--password,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--#{id,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="username != null">-->
                <!--#{username,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--#{password,jdbcType=VARCHAR},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->
    <!--<resultMap id="BaseResultMap" type="cn.tedu.pojo.User">-->
        <!--<result column="id" jdbcType="BIGINT" property="id" />-->
        <!--<result column="username" jdbcType="VARCHAR" property="username" />-->
        <!--<result column="password" jdbcType="VARCHAR" property="password" />-->
        <!--<result column="phone" jdbcType="VARCHAR" property="phone" />-->
        <!--<result column="email" jdbcType="VARCHAR" property="email" />-->
        <!--<result column="created" jdbcType="TIMESTAMP" property="created" />-->
        <!--<result column="updated" jdbcType="TIMESTAMP" property="updated" />-->
    <!--</resultMap>-->
    <!--<insert id="insert" parameterType="cn.tedu.pojo.User">-->
        <!--insert into tb_user (id, username, password,-->
        <!--phone, email, created,-->
        <!--updated)-->
        <!--values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},-->
        <!--#{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP},-->
        <!--#{updated,jdbcType=TIMESTAMP})-->
    <!--</insert>-->
    <!--<insert id="insertSelective" parameterType="cn.tedu.pojo.User">-->
        <!--insert into tb_user-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--id,-->
            <!--</if>-->
            <!--<if test="username != null">-->
                <!--username,-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--password,-->
            <!--</if>-->
            <!--<if test="phone != null">-->
                <!--phone,-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--email,-->
            <!--</if>-->
            <!--<if test="created != null">-->
                <!--created,-->
            <!--</if>-->
            <!--<if test="updated != null">-->
                <!--updated,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--#{id,jdbcType=BIGINT},-->
            <!--</if>-->
            <!--<if test="username != null">-->
                <!--#{username,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--#{password,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="phone != null">-->
                <!--#{phone,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--#{email,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="created != null">-->
                <!--#{created,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="updated != null">-->
                <!--#{updated,jdbcType=TIMESTAMP},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->

    <select id="selectOne" parameterType="cn.tedu.pojo.User" resultType="cn.tedu.pojo.User">
        select * from tb_user where id = #{userId}
    </select>

    <update id="update" parameterType="cn.tedu.pojo.User">
        update tb_user
        <set>
            <if test="name != null">`name` = #{name}, </if>
            <if test="gender != null">`gender` = #{gender}, </if>
            <if test="nickname != null">`nickname` = #{nickname}, </if>
            <if test="img != null">`img` = #{img}, </if>
            <if test="phone != null">`phone` = #{phone}, </if>
            <if test="salt != null">`salt` = #{salt}, </if>
            <if test="username != null">`username` = #{username}, </if>
            <if test="password != null">`password` = #{password}, </if>
            <if test="points != null">`points` = #{points}, </if>
            <if test="purse != null">`purse` = #{purse}, </if>
            <if test="created != null">`created` = #{created}, </if>
            <if test="updated != null">`updated` = #{updated}, </if>
            <if test="defaultReceiver != null">`defaultReceiver` = #{defaultReceiver}, </if>
            <if test="memberId != null">`member_id` = #{memberId}, </if>
        </set>
        where id = #{id}
    </update>
</mapper> 












